@{
    ViewBag.Title = "Overwatch";
}


<head>



    <style type="text/css">

        body, html {
            margin: 0;
            font: 16px "lato", sans-serif;
            color: #777;
            height: 100%;
        }

        .conteudo {
            color: #777;
            background-color: white;
            text-align: justify;
            padding: 50px 80px;
        }

        h3 {
            text-transform: uppercase;
            color: #111;
            text-align: center;
        }

        p {
            margin-bottom: 20px;
            text-align: center;
        }

        .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6 {
            position: relative;
            height: 100%;
            opacity: 1.0; /*opacidade da imagem*/
            background-repeat: no-repeat;
            background-size: cover; /*deixa a imagem na tela inteira*/
            background-position: center; /*mantem a imagen centralizada*/
            background-attachment: fixed; /*mantem a imagen fixa*/
        }

        .caixa1 {
            background-image: url(/img/o1.jpg);
            /*background-image: url(~/img/armaIII_616x353.jpg);*/
        }

        .caixa2 {
            background-image: url(/img/o2.jpg);
        }




        .conteudo-titulo {
            position: absolute;
            left: 0;
            top: 45%;
            width: 100%;
            text-align: center;
        }

            .conteudo-titulo span.titulo {
                color: #fff;
                background-color: #111;
                padding: 18px;
                font-size: 25px;
                letter-spacing: 5px; /* espaçamento entre os textos*/
                text-transform: uppercase; /* textos em maiusculo*/
            }
    </style>
</head>
<body>

    <div class="caixa1">
        <div class="conteudo-titulo">
            <span class="titulo">OVERWATCH</span>
        </div>
    </div>

    <div class="conteudo">
        <h3>SEJAM BEM-VINDOS AO OVERWATCH</h3>
        <p>
            Overwatch é um jogo de tiro em equipe que conta com um elenco diversificado de heróis poderosíssimos.
        </p>
        <p>
            Viaje pelo mundo, monte uma equipe e dispute objetivos em combates 6v6 de tirar o fôlego.
        </p>

    </div>

    <div class="caixa2">
        <div class="conteudo-titulo">
            
        </div>
    </div>

    <div class="conteudo">
        <h3>ESCOLHER SEU HERÓI</h3>
        <p>Ao entrar em uma partida de Overwatch, você precisa escolher um herói para jogar.</p>
        <p>Talvez um gorila da lua munido de uma bazuca lhe pareça atraente.</p>
        <p>Talvez você prefira uma revolucionária que viaja no tempo. Ou será que um DJ com batidas matadoras faz mais o seu estilo? </p>
        <p>Não importa quem você queira ser, na certa há um herói de Overwatch para você.</p>

    </div>





</body>