@{
    ViewBag.Title = "Conheca_Empresa 2";
}



<html>
<body>
    <<div style="height:1000px; opacity:0.3;" id="equalizar"></div>
    <img src="~/img/close-up-electronics-equipment-790479.jpg" style=" height:1000px;width:100%; z-index:1">
    <center>
        <div style="position:absolute;width:1000px; top:200px;z-index:2;left:300px;" class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
            <form action="" method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Quem somos nós</h3>
                <p>
                    A Library Games é uma empresa criada em 2019 com o objetivo de
                    tornar a experiencia em games mais completa e dinâmica. A empresa
                    vem ganhando grande fama e respeito nos últimos mês por meio de
                    sua proposta nostálgica de espaços físicos voltados para encontros e
                    competições de vídeo games clássicos até os mais atuais.
                    Para não ficar para trás no mercado a Library Games mantem uma
                    oferta de jogos e acessórios bem completa e com valor justo para os
                    clientes, e para aqueles que possuem cadastro em seu site.
                    Os projetos futuros da Library Games envolvem expandir seus espaços
                    físicos para que todos os clientes tenham Library próxima de sua casa.
                </p>

                @*<div class="form-group mb-4">
                        <input type="password" class="form-control" placeholder="Re-type Password">
                    </div>*@

            </form>
        </div>
    </center>
</body>
</html>
<script src="~/js/main.js"></script>
