@{
    ViewBag.Title = "Conheca_Empresa 2";
}


<div style="height:1000px; opacity:0.3;" id="equalizar"></div>
<img src="~/img/close-up-electronics-equipment-790479.jpg" style=" height:1000px;width:100%; z-index:1">
<center>
    <div style="position:absolute;width:1000px; top:200px;z-index:2;left:300px;" class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
        <form action="" method="post" class="form-box">


            <h3>LIBRARY GAMES</h3>
            <h4>TELEFONE:(11)3343-6785</h4>
            <h5>EMAIL:ATENDIMENTO@LIBRARYGAMES.COM</h5>
            <h4>CNPJ:01.719.510/0001-86</h4>


            @*<div class="form-group mb-4">
                    <input type="password" class="form-control" placeholder="Re-type Password">
                </div>*@

        </form>
    </div>
</center>
<script src="~/js/main.js"></script>
